
body {
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: -10px 15px;
 font-size: 10px;
 background-size: 5%;
}

body .container {
margin-left: 50px;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #B2D1FF;
}

.clickable{
	cursor: pointer;
}

.modal{
	font-size: larger;
}

.home_button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.active{
	color: #33dd33;
}

.inactive{
	color: red;
}