<!DOCTYPE html>
<html ng-app="">
<head>
<script src= "./js/jquery-1.11.3.min.js"></script><!--Jquery-->
<link rel="stylesheet" href = "./css/bootstrap.min.css"><!--Bootstrap for CSS style-->
<link rel="stylesheet" href="./css/font_awesome/css/font-awesome.min.css"> <!--Different Icons-->
<script src="./js/bootstrap.min.js"></script><!--Bootstrap Javascript, work with Bootstrap CSS-->
<link rel="stylesheet" href="./css/main.css"><!--Customized CSS-->
<script src= "./js/angular.min.js"></script><!--Angular-->
<script src= "./js/floatThead.min.js"></script> <!--Floating Table Header-->
<script src= "./js/FileSaver.min.js"></script> <!--Save the export .csv-->
<script src= "./js/Blob.js"></script>
</head>

<body ng-controller="systemsController">
<!--Pop Up For Custodians-->
<div class="modal fade" id="CUSTODIANS" tabindex="-1" role="dialog" aria-labelledby="CUSTODIANS_L">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="CUSTODIANS_L">Custodians</h4>
      </div>
      <div class="modal-body">
        <h3>This information comes from a list of managers identified as primary contacts </h3>
        <table border="0">
          <tr>
            <td>
              The individuals listed in this column are primary contacts for the various systems <br>Adminitrators should use Access Management to update the ownership of the IDs in the <b> ZOS-CUSTODIANS </b><br>Access Management system.
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--Pop Up for what is MIPS-->
<div class="modal fade" id="MIPS_M" tabindex="-1" role="dialog" aria-labelledby="MIPS_M_L">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="MIPS_M_L">MIPS</h4>
      </div>
      <div class="modal-body">
        <h3>The concept of MIPS is only an approximation of the speed of a z Processor</h3>
        <table border=0>
          <tr>
            <td>
              Many factors are involved in determining how much work a z Processor can do. This figure is approximated by the folmula:<br><b> total MIPS = &LT;Service Units/SEC&GT; / 48.5 * &LT; Number of general CPUs&GT;</b>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Pop Up for Processor Info-->
<div class="modal fade" id="processor_info" tabindex="-1" role="dialog" aria-labelledby="processor_info_m">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="processor_info_m">{{processor["Processor Model"]}} 's specs</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr ng-repeat="(key, value) in processor">
            <td>{{key}}</td>
            <td ng-if="tf(value) != 'object'">{{value}}</td>
            <td ng-if="tf(value) == 'object'">
              <table class="table">
                <tr ng-repeat="(key1, value1) in value">
                  <td>{{key1}}</td>
                  <td>{{value1}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Search Column Pop Up-->
<div class="modal fade" id="search_column_popup" tabindex="-1" role="dialog" aria-labelledby="search_column_m">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!--Form for searching by column-->
        <div class="input-group">
          <input type="text" ng-model="keyword" id="keyword" class="form-control" placeholder="Search in this column ..">
           <span class="input-group-btn"><button ng-click="filter_by_column()"id="submit_keyword" class="btn btn-default" type="button">Search</button></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--App display logic-->
<div class="container-fluid">
<div style="overflow:auto">
  <img style="display:inline-text;float:left" src="./img/zos.jpg"></img>  
  <h3>z/OS Systems (at 8200 Warden)</h3> 
  <p style="padding-left:20px">Search: <input ng-model="searchText"></p>
  <button class="btn btn-default btn-md" ng-click="export_to_csv()" style="float:right;position:relative;top:-35px;">Export</button>
  <button class="btn btn-default btn-md" onclick="window.location.replace('http://toronetx.torolab.ibm.com/www/index.html')" style="float:right;position:relative;top:-35px; margin-right:15px;">Home</button>
</div>

<!--This is the bar where the deleted column are shown to re display-->
<div class="btn-group" role="group">
  <button class="btn btn-default btn-sm" ng-repeat="(column,status) in display_column_set" ng-if="status == false" ng-click="toggle_column(column)">{{column}}</button>
</div>
<br>
<br>

 <!-- Nav tabs for showing different tables-->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#t1" aria-controls="t1" role="tab" data-toggle="tab" ng-click="change_table('t1')">Table 1</a></li>
  <li role="presentation"><a href="#t2" aria-controls="t2" role="tab" data-toggle="tab" ng-click="change_table('t2')">Table 2</a></li>
  <li role="presentation"><a href="#t3" aria-controls="t3" role="tab" data-toggle="tab" ng-click="change_table('t3')">Table 3</a></li>
  <li role="presentation"><a href="#t4" aria-controls="t4" role="tab" data-toggle="tab" ng-click="change_table('t2')">Table 4</a></li>
</ul>
<br>
<!--The table displaying stats of different machines -->
<div class="tab-content">

<table class="table table-striped table-hover table-condensed table-bordered machines_table">
  <thead>
    <tr style="background-color:lightblue;">
     <!-- HEADER CELLS START -->
     <th class="clickable" nowrap ng-show="display_column_set.show_hostname && table == 't1'" ng-click="sortType='HOSTNAME';sortReverse=!sortReverse">HOSTNAME <i class="fa fa-trash-o" ng-click="toggle_column('show_hostname')"></i> <i ng-click="pick_column_filter('HOSTNAME')" class="fa fa-search"></i></th>

     <th class="clickable" nowrap ng-show="display_column_set.show_status && table == 't1'" ng-click="sortType='STATUS';sortReverse=!sortReverse">STATUS <i class="fa fa-trash-o" ng-click="toggle_column('show_status')"></i> <i ng-click="pick_column_filter('STATUS')" class="fa fa-search"></i></th>

     <th class="clickable" nowrap ng-show="display_column_set.show_image_type && table == 't1'" ng-click="sortType='IMGTYPE';sortReverse=!sortReverse">IMAGE TYPE <i class="fa fa-trash-o" ng-click="toggle_column('show_image_type')"></i> <i ng-click="pick_column_filter('IMGTYPE')" class="fa fa-search"></i></th>

     <th class="clickable" nowrap ng-show="display_column_set.show_lpar_name && table == 't1'" ng-click="sortType='LPAR_NAME';sortReverse=!sortReverse">LPAR NAME <i class="fa fa-trash-o" ng-click="toggle_column('show_lpar_name')"></i> <i ng-click="pick_column_filter('LPAR_NAME')" class="fa fa-search"></i> </th>

     <th class="clickable" nowrap ng-show="display_column_set.show_processor_name && table == 't1'" ng-click="sortType='HWNAME';sortReverse=!sortReverse">PROCESSOR NAME <i class="fa fa-trash-o" ng-click="toggle_column('show_processor_name')"></i> <i ng-click="pick_column_filter('HWNAME')" class="fa fa-search"></i></th>

     <th class="clickable" nowrap ng-show="display_column_set.show_zos_versions && table == 't1'" ng-click="sortType='OS_VERSION';sortReverse=!sortReverse">Z/OS VERSION <i class="fa fa-trash-o" ng-click="toggle_column('show_zos_versions')"></i> <i ng-click="pick_column_filter('OS_VERSION')" class="fa fa-search"></i></th>

     <th class="clickable" nowrap ng-show="display_column_set.show_network_details && table == 't1' " ng-click="sortType='IPADDRESS';sortReverse=!sortReverse">NETWORK DETAILS <i class="fa fa-trash-o" ng-click="toggle_column('show_network_details')"></i> <i ng-click="pick_column_filter('IPADDRESS')" class="fa fa-search"></i></th>

     <th class="clickable" nowrap ng-show="display_column_set.show_ipl_address && table == 't1' " ng-click="sortType='IPLADDR';sortReverse=!sortReverse">IPL ADDRESS <i class="fa fa-trash-o" ng-click="toggle_column('show_ipl_address')"></i> <i ng-click="pick_column_filter('IPLADDR')" class="fa fa-search"></i></th>

     <th class="clickable" ng-show="display_column_set.show_ipl_volume && table == 't1' " nowrap ng-click="sortType='IPLVOL';sortReverse=!sortReverse">IPL VOLUME <i class="fa fa-trash-o" ng-click="toggle_column('show_ipl_volume')"></i> <i ng-click="pick_column_filter('IPLVOL')" class="fa fa-search"></i> </th>

     <th class="clickable" ng-show="display_column_set.show_ipl_load_parms && table == 't1'"  nowrap ng-click="sortType='IPLLOAD';sortReverse=!sortReverse">IPL LOAD PARMS <i class="fa fa-trash-o" ng-click="toggle_column('show_ipl_load_parms')"></i> <i ng-click="pick_column_filter('IPLLOAD')" class="fa fa-search"></i></th>

     <th class="clickable" ng-show="display_column_set.show_last_ipl_date && table == 't1'" nowrap ng-click="sortType='IPLDATE';sortReverse=!sortReverse">LAST IPL DATE <i class="fa fa-trash-o" ng-click="toggle_column('show_last_ipl_date')"></i> <i ng-click="pick_column_filter('IPLDATE')" class="fa fa-search"></i></th>

     <th class="clickable" ng-show="display_column_set.show_current_iodf && table == 't1'" nowrap ng-click="sortType='CURRENT_IODF';sortReverse=!sortReverse">CURRENT IODF <i class="fa fa-trash-o" ng-click="toggle_column('show_current_iodf')"></i> <i ng-click="pick_column_filter('CURRENT_IODF')" class="fa fa-search"></i></th>

     <th class="clickable" ng-show="display_column_set.show_cpu_model && table == 't1'" nowrap ng-click="sortType='CPUMODEL';sortReverse=!sortReverse">CPU MODEL <i class="fa fa-trash-o" ng-click="toggle_column('show_cpu_model')"></i> <i ng-click="pick_column_filter('CPUMODEL')" class="fa fa-search"></i></th>

     <th class="clickable" ng-show="display_column_set.show_cpu_serial && table == 't1'" nowrap ng-click="sortType='CPUSERIAL';sortReverse=!sortReverse">CPU SERIAL <i class="fa fa-trash-o" ng-click="toggle_column('show_cpu_serial')"></i> <i ng-click="pick_column_filter('CPUSERIAL')" class="fa fa-search"></i></th>

     <th class="clickable" ng-show="display_column_set.show_cpus_online && table == 't1'" nowrap ng-click="sortType='ONLCPU';sortReverse=!sortReverse">CPUs ONLINE <i class="fa fa-trash-o" ng-click="toggle_column('show_cpus_online')"></i> <i ng-click="pick_column_filter('ONLCPU')" class="fa fa-search"></i></th>

     <th class="clickable" ng-show="display_column_set.show_total_cpus && table == 't1'" nowrap ng-click="sortType='TOTCPU';sortReverse=!sortReverse">TOTAL CPUs <i class="fa fa-trash-o" ng-click="toggle_column('show_total_cpus')"></i> <i ng-click="pick_column_filter('TOTCPU')" class="fa fa-search"></i></th>

     <th class="clickable" ng-show="display_column_set.show_real_storage && table == 't1'" nowrap ng-click="sortType='REALSTOR';sortReverse=!sortReverse">REAL STORAGE <i class="fa fa-trash-o" ng-click="toggle_column('show_real_storage')"></i> <i ng-click="pick_column_filter('REALSTOR')" class="fa fa-search"></i></th>

     <th class="clickable" ng-show="display_column_set.show_mips && table == 't1'" nowrap ng-click="sortType='MIPS';sortReverse=!sortReverse"><span id="MIPS_k">MIPS</span> <i class="fa fa-trash-o" ng-click="toggle_column('show_mips')"></i> <i ng-click="pick_column_filter('MIPS')" class="fa fa-search"></i></th>

     <th class="clickable" ng-show="display_column_set.show_primary_users && table == 't1'" nowrap ng-click="sortType='CUSTODIAN_DETAIL';sortReverse=!sortReverse"><span id="primary_user">Primary Users</span> <i class="fa fa-trash-o" ng-click="toggle_column('show_primary_users')"></i> <i ng-click="pick_column_filter('CUSTODIAN_DETAIL')" class="fa fa-search"></i></th>

     <th class="clickable" ng-show="display_column_set.show_update_date && table == 't1'" ng-click="sortType='UPDATE';sortReverse=!sortReverse">Date this info updated <i class="fa fa-trash-o" ng-click="toggle_column('show_update_date')"></i> <i ng-click="pick_column_filter('UPDATE')" class="fa fa-search"></i></th>
     <!-- HEADER CELLS END   -->
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="system in systems | filter:searchText | filter:match_obj | orderBy:sortType:sortReverse">
      <td ng-show="display_column_set.show_hostname && table == 't1'" ng-bind-html="renderHtml(system.HOSTNAME)"></td>
      <td ng-class="check_status(system.STATUS)" ng-show="display_column_set.show_status && table == 't1'" ng-bind-html="renderHtml(system.STATUS)"></td>
      <td ng-show="display_column_set.show_image_type && table == 't1'" ng-bind-html="renderHtml(system.IMGTYPE)"></td>
      <td ng-show="display_column_set.show_lpar_name && table == 't1'" ng-bind-html="renderHtml(system.LPAR_NAME)"></td>
      <td ng-show="display_column_set.show_processor_name && table == 't1'" ng-bind-html="renderHtml(system.HWNAME)" ng-click="get_processor_info(system.HWNAME)" class="clickable"></td>
      <td ng-show="display_column_set.show_zos_versions && table == 't1'" ng-bind-html="renderHtml(system.OS_VERSION)"></td>
      <td ng-show="display_column_set.show_network_details && table == 't1'" ng-bind-html="renderHtml(system.IPADDRESS)"></td>
      <td ng-show="display_column_set.show_ipl_address && table == 't1'" ng-bind-html="renderHtml(system.IPLADDR)"></td>
      <td ng-show="display_column_set.show_ipl_volume && table == 't1'" ng-bind-html="renderHtml(system.IPLVOL)"></td>
      <td ng-show="display_column_set.show_ipl_load_parms && table == 't1'" ng-bind-html="renderHtml(system.IPLLOAD)"></td>
      <td ng-show="display_column_set.show_last_ipl_date && table == 't1'" ng-bind-html="renderHtml(system.IPLDATE)"></td>
      <td ng-show="display_column_set.show_current_iodf && table == 't1'" ng-bind-html="renderHtml(system.CURRENT_IODF)"></td>
      <td ng-show="display_column_set.show_cpu_model && table == 't1'" ng-bind-html="renderHtml(system.CPUMODEL)"></td>
      <td ng-show="display_column_set.show_cpu_serial && table == 't1'" ng-bind-html="renderHtml(system.CPUSERIAL)"></td>
      <td ng-show="display_column_set.show_cpus_online && table == 't1'" ng-bind-html="renderHtml(system.ONLCPU)"></td>
      <td ng-show="display_column_set.show_total_cpus && table == 't1' " ng-bind-html="renderHtml(system.TOTCPU)"></td>
      <td ng-show="display_column_set.show_real_storage && table == 't1'" ng-bind-html="renderHtml(system.REALSTOR)"></td>
      <td ng-show="display_column_set.show_mips && table == 't1'" ng-bind-html="renderHtml(system.MIPS)"></td>
<!--  <td ng-bind-html="renderHtml(system.CPCDETAIL)"></td> -->
<!--  <td nowrap ng-bind-html="renderHtml(system.AS_AT)"></td> -->
      <td ng-show="display_column_set.show_primary_users && table == 't1'" nowrap ng-bind-html="renderHtml(system.CUSTODIAN_DETAIL)"></td>
      <td ng-show="display_column_set.show_update_date && table == 't1'" nowrap ng-bind-html="renderHtml(system.UPDATE)"></td>
    </tr>
  </tbody>
</table>
</div>
<hr>
<hr>

<!--
Ok, nicely awkward bit of processing here.  Although the HTML file can be in EBCDIC
the input file (.json) has to be in ASCII.  So we have to make sure that once the
file has been successfully created by this system,  it is passed through an
iconv command to convert everything.
if you are on a z/OS machine,  you'll notice that the .json file is binary.
so effectively, we need a source and binary set of files for this application
-->
<script>

function systemsController($scope,$http,$sce,$filter) {
   $http.get("./resources/converted.json").success(function(response){
     $scope.systems = response;
   });

   $scope.renderHtml = function(html_code){
       return $sce.trustAsHtml(html_code);
   };

   //This is the function triggered when user clicked the field "Processor Name" and brings up the popup.
   //What it does : It will use AJAX to retrieve the <processor name>.json which contains specs of a given processor
   //Then it will load that data into a object called processor. Which the modal (~ line 63) will use to display the info.  
   $scope.get_processor_info = function(processor){
      var file_name = processor + ".json";
      $http.get("./resources/processors/" + file_name).then(function(response){
        $scope.processor = response.data;
        console.log(typeof($scope.processor.logical_partitions));
        $('#processor_info').modal('show');
      },
      function(err){
        console.log(err);
      });
   };

   //A function used to determine if the data is an object or not, used with ng-if attribute.
   $scope.tf = function(things){
    console.log(things);
    return typeof(things);
   }

   //The function that is used to check if the machine is active or not. If active, load .active class in main.css,
   //if inactive, load inactive class from main.css
   $scope.check_status = function(status){
      if(status == "ACTIVE"){
        return "active";
      }
      else{
        return "inactive"
      }
   }

   //sorting table
   $scope.sortType = "HOSTNAME";
   $scope.sortReverse = false;

   //implement the set that determines which column shows 
   $scope.display_column_set = {
          "show_hostname" : true,
          "show_status" : true,
          "show_image_type" : true,
          "show_lpar_name" : true,
          "show_processor_name" : true,
          "show_zos_versions" : true,
          "show_network_details" : true,
          "show_ipl_address" : true,
          "show_ipl_volume" : true,
          "show_ipl_load_parms" : true, 
          "show_last_ipl_date" : true,
          "show_current_iodf" : true,
          "show_cpu_model" : true,
          "show_cpu_serial" : true,
          "show_cpus_online" : true, 
          "show_total_cpus" : true,
          "show_real_storage" : true,
          "show_mips" : true,
          "show_primary_users" : true,
          "show_update_date" : true
   };

    //function that display or hide given column
  $scope.toggle_column = function(column){
    console.log(column);
    console.log($scope.display_column_set);
    $scope.display_column_set[column] = !($scope.display_column_set[column]);
    console.log("click");
  }
  
  //cutomize filter for column filtering
  $scope.pick_column_filter = function(column){
    $scope.column_to_filter = column;
    $("#search_column_popup").modal('show');
  };
  //when user clicked #submit_keyword
  $scope.filter_by_column = function(){
    //creating the pattern object 
     var string = $scope.keyword;
     var column = "" + $scope.column_to_filter;
     console.log(string);
     console.log(column);
     
     $scope.match_obj = new Object();
     $scope.match_obj[column + ""] = string;
     console.log($scope.match_obj)
     $("#search_column_popup").modal('hide');
  }

  //table switching metadata is initiated to one 
  $scope.table = "t1";

  //function that changes which table should be displayed
  $scope.change_table = function(table){
    $scope.table = table;
  }

  //the export function 
  $scope.export_to_csv = function(){
    var objArray = $scope.systems;
    var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
    var str = '';
    var row = "";

    //This loop will extract the label from 1st index of on array
    for (var index in array[0]) {
        //Now convert each value to string and comma-seprated
        row += index + ',';
    }
    row = row.slice(0, -1);
    //append Label row with line break
    str += row + '\r\n';

    for (var i = 0; i < array.length; i++) {
        var line = '';
        for (var index in array[i]) {
            if (line != '') line += ','

            line += array[i][index];
        }

        str += line + '\r\n';
    }
    console.log(str);
    //using Browser Blob API and make it downloadable
    var blob = new Blob([str],{type:"text/csv"});
    saveAs(blob,"table.csv");
    return str;
  }

  //the f

 }

 //jquery code for the floating table header and popup for custodians &mips
 $(function(){
    $("#MIPS_k").on("click",function(){
      $("#MIPS_M").modal('show');
    });
    $("#primary_user").on("click",function(){
      $("#CUSTODIANS").modal('show');
    });
    var $table = $('.machines_table');
    $table.floatThead();
 });

 </script>
</body>
</html>
